<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAA92Veh-rXNJ27cHkOxX9_ApxG4I1ZgHA</string>
	<key>GCM_SENDER_ID</key>
	<string>84081769029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalExam</string>
	<key>PROJECT_ID</key>
	<string>note-e48be</string>
	<key>STORAGE_BUCKET</key>
	<string>note-e48be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84081769029:ios:2c7a5c0343f6a9ca1fc12c</string>
</dict>
</plist>